<div class="modal fade show d-block" id="exampleModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="titleLabel">@Title</h5>
                <button type="button" class="close" @onclick="Reject" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

                <p>@Message</p>

                <a class="btn btn-primary" @onclick="Accept">Yes</a>
                <a class="btn btn-outline-primary" @onclick="Reject">No</a>
            </div>
        </div>
    </div>
</div>
