@if (Entries == null)
{
    <LoadingMessage Message="Loading"></LoadingMessage>
}
else
{
    <table class="table table-bordered table-striped table-sm ">
        <thead>
            <tr>
                <th></th>
                <th>Budget Cycle</th>
                <th style="text-align:center">Date</th>
                <th>Check #</th>
                <th>Payee</th>
                <th>Budget Item</th>
                <th style="text-align:right">Withdrawal</th>
                <th style="text-align:right">Deposit</th>
                <th style="text-align:center">Status</th>
                <th style="text-align:center">Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Entries)
            {
                <RegisterRow Item="item" OnAction="@OnAction" HideReconciled="HideReconciled"></RegisterRow>
            }
        </tbody>
    </table>

}