@page "/registerentries"

<h3 class="card-title">Register Entries</h3>
<hr />
@if (Model == null)
{
    <LoadingMessage Message="Loading..." />
}
else
{
    <RegisterEntryList Entries="Model" HideRegisterName="HideRegisterName"></RegisterEntryList>
}
