@page "/registers"

<h3 class="card-title">Registers</h3>
<hr />

@if (Registers == null)
{
    <LoadingMessage Message="Loading..." />
}
else
{
    <div class="form-group">
        <label for="register">Register</label>
        <EditForm Model="Registers">
            <InputSelect ValueExpression="@(() => SelectedId)"
                         ValueChanged="@((string value) => OnRegisterSelected(value))"
                         class="form-control" id="register">
                @foreach (var item in Registers)
                {
                    <option @key="item.Id" value="@item.Id">@item.Name</option>
                }
            </InputSelect>
        </EditForm>
    </div>

    @if (SelectedRegister != null)
    {
        <RegisterBook Register="SelectedRegister"></RegisterBook>
    }

 }

