@page "/budgetcategories"

<h3 class="card-title">Budget Categories</h3>
<hr />
@if (!IsSuccess)
{
    <ErrorMessage>"Somewthing Went Wrong With the Operation" </ErrorMessage>
}

@if (Model == null)
{
    <LoadingMessage Message="Loading..." />
}
else
{
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Group</th>
                <th>
                    <a href="/budgetcategories/create" class="btn btn-primary">
                        <span class="oi oi-plus">New</span>
                    </a>
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td>@item.BudgetGroup?.Name</td>
                    <td>
                        <a href="/budgetcategories/details/@item.Id" class="btn btn-primary">
                            <span class="oi oi-info"></span>
                        </a>
                        <a href="/budgetcategories/edit/@item.Id" class="btn btn-primary">
                            <span class="oi oi-pencil"></span>
                        </a>
                        <a @onclick="@(() => Delete(item.Id))" class="btn btn-danger">
                            <span class="oi oi-trash"></span>
                        </a>

                    </td>
                </tr>
            }
        </tbody>
    </table>
    @if (ShowDeleteDialog)
    {
        <AcceptRejectDialog Title="Delete" Message="Are you sure?" OnClose="OnDeleteClose"></AcceptRejectDialog>
    }

}

